body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

li {
  margin-bottom: 10px;
}
